body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(90,90,161,1) 0%, rgba(0,212,255,1) 72%);
}
    
.container div {  
    display: inline-block;
    white-space: nowrap;
}
    
#left-landing {
    margin: 0 30px;
    padding: 0 20px;
    color: white;
    white-space: normal;
    width: 50%;
}
    
#right-landing {
    background-color: white;
    white-space: normal;
    width: 40%;
}
    
a {
    color: white;
}